this is an example env file for the project . Create same for your project folder as below just remove the comment and add your keys

# GEMINI_API_KEY="you key goes here"
# RESEND_API_KEY="you key goes here"
# QUIZ_API_KEY="you key goes here"